header section{

    justify-content: space-between;
    align-items: center;
    
}

header img{
    width: 150px;
    height: 150px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li a{
    margin: 0 20px;
    color: blueviolet;
}

header{
    background-color: rgb(0, 0, 0);opacity: 1;
}


