/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Source+Sans+3:wght@200;300;400&display=swap');

/* Components*/
@import "../css/buttons.css";
@import "./header.css";
@import "./main.css";

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    width: 1024px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

body{
    background-image: url("../assets/fundo2.jpg") ;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-blend-mode:luminosity;
}

.row {
    display: flex;
    flex-direction: row;
}

